/*header*/
body {
    background: #add8f6;
margin: 20px 0;
}

.logo {
    width: 300px;
}

.logo img {
    width: 200px;
    height: 80px;
    object-fit: cover;
}

.nav-link {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.text-me{
    text-align: center;
    padding: 10px;
}
.header{
    display: flex;
    gap: 20px;
}
.header .col-3{
    background-color: #e5c7ca;
}
.header .col-9{
    background-color: #ffffff;
}
.home_admin h3{
    color: #a52834;
    text-align: center;
    margin: 10px 0;
}
.inner{
    padding: 10px;
    border: #ffffff;
    border-style: solid;
}
.inner img{
    float: right;
    width: 100px;
    height: auto;
}
.form_dm row{
    padding: 10px;
}

.bg-form{
    background-color: #023a01;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
